<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/wi-feedback.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/all.min.css">
    <script src="js/angular.min.js"></script>
    <script src="js/angular-locale_ru-by.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/wi-feedback.min.js"></script>
    <script src="js/script.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&onload=jQuery.fn.lpMapInit" type="text/javascript"></script>
</head>

<body>

    <header>
        <div class="container">
            <ul>
                <li><a href="#slideshow">Главная</a></li>
                <li><a href="#services">Услуги</a></li>
                <li><a href="#portfolio">Портфолио</a></li>
                <li><a href="#prices">Цены</a></li>
                <li><a href="#contacts">Контакты</a></li>
            </ul>
        </div>
    </header>

    <section id="slideshow">
        <div class="container">
            <div class="lp-content">

                <div class="lp-slider1 owl-carousel">
                    <img src="img/slideshow/slide1.jpg" alt="Landing Page">
                    <img src="img/slideshow/slide2.jpg" alt="Landing Page">
                    <img src="img/slideshow/slide3.jpg" alt="Landing Page">
                    <img src="img/slideshow/slide1.jpg" alt="Landing Page">
                    <img src="img/slideshow/slide2.jpg" alt="Landing Page">
                    <img src="img/slideshow/slide3.jpg" alt="Landing Page">
                </div>

            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="lp-content">
                <h2>Услуги</h2>

                <div class="lp-tabs">

                    <div data-tab-title="Услуга 1">
                        <p class="text-center"><strong>Услуга 1</strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod autem ratione accusamus, consequatur culpa corporis consequuntur velit, modi quia quisquam aut ad ex sint quis fugiat, atque libero dolore. Laudantium! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod autem ratione accusamus, consequatur culpa corporis consequuntur velit, modi quia quisquam aut ad ex sint quis fugiat, atque libero dolore. Laudantium! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod autem ratione accusamus, consequatur culpa corporis consequuntur velit, modi quia quisquam aut ad ex sint quis fugiat, atque libero dolore. Laudantium!</p>
                        <p class="text-center">
                            <a href="#lp-srv1" class="btn btn-primary lp-mfp-inline">Подробнее</a>
                            <span class="btn btn-primary lp-fb1-link" data-label="Услуга 1">Заказать</span>
                        </p>
                    </div>

                    <div data-tab-title="Услуга 2">
                        <p class="text-center"><strong>Услуга 2</strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod autem ratione accusamus, consequatur culpa corporis consequuntur velit, modi quia quisquam aut ad ex sint quis fugiat, atque libero dolore. Laudantium!</p>
                        <p class="text-center">
                            <a href="#lp-srv2" class="btn btn-primary lp-mfp-inline">Подробнее</a>
                            <span class="btn btn-primary lp-fb1-link" data-label="Услуга 2">Заказать</span>
                        </p>
                    </div>

                    <div data-tab-title="Услуга 3">
                        <p class="text-center"><strong>Услуга 3</strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod autem ratione accusamus, consequatur culpa corporis consequuntur velit, modi quia quisquam aut ad ex sint quis fugiat, atque libero dolore. Laudantium! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod autem ratione accusamus, consequatur culpa corporis consequuntur velit, modi quia quisquam aut ad ex sint quis fugiat, atque libero dolore. Laudantium! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod autem ratione accusamus, consequatur culpa corporis consequuntur velit, modi quia quisquam aut ad ex sint quis fugiat, atque libero dolore. Laudantium! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod autem ratione accusamus, consequatur culpa corporis consequuntur velit, modi quia quisquam aut ad ex sint quis fugiat, atque libero dolore. Laudantium!</p>
                        <p class="text-center">
                            <a href="#lp-srv3" class="btn btn-primary lp-mfp-inline">Подробнее</a>
                            <span class="btn btn-primary lp-fb1-link" data-label="Услуга 3">Заказать</span>
                        </p>
                    </div>

                    <div data-tab-title="Услуга 4">
                        <p class="text-center"><strong>Услуга 4</strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod autem ratione accusamus, consequatur culpa corporis consequuntur velit, modi quia quisquam aut ad ex sint quis fugiat, atque libero dolore. Laudantium! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod autem ratione accusamus, consequatur culpa corporis consequuntur velit, modi quia quisquam aut ad ex sint quis fugiat, atque libero dolore. Laudantium!</p>
                        <p class="text-center">
                            <a href="#lp-srv4" class="btn btn-primary lp-mfp-inline">Подробнее</a>
                            <span class="btn btn-primary lp-fb1-link" data-label="Услуга 4">Заказать</span>
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </section>

    <section id="portfolio">
        <div class="container">
            <div class="lp-content">
                <h2>Портфолио</h2>
                <div class="lp-slider2 owl-carousel lp-gallery">

                    <a href="/img/slideshow/slide1.jpg">
                        <img src="/img/slideshow/slide1.jpg" alt="Продукт 1">
                    </a>

                    <a href="/img/slideshow/slide2.jpg">
                        <img src="/img/slideshow/slide2.jpg" alt="Продукт 2">
                    </a>

                    <a href="/img/slideshow/slide3.jpg">
                        <img src="/img/slideshow/slide3.jpg" alt="Продукт 3">
                    </a>

                    <a href="/img/slideshow/slide1.jpg">
                        <img src="/img/slideshow/slide1.jpg" alt="Продукт 1">
                    </a>

                    <a href="/img/slideshow/slide2.jpg">
                        <img src="/img/slideshow/slide2.jpg" alt="Продукт 2">
                    </a>

                    <a href="/img/slideshow/slide3.jpg">
                        <img src="/img/slideshow/slide3.jpg" alt="Продукт 3">
                    </a>

                    <a href="/img/slideshow/slide1.jpg">
                        <img src="/img/slideshow/slide1.jpg" alt="Продукт 1">
                    </a>

                    <a href="/img/slideshow/slide2.jpg">
                        <img src="/img/slideshow/slide2.jpg" alt="Продукт 2">
                    </a>

                    <a href="/img/slideshow/slide3.jpg">
                        <img src="/img/slideshow/slide3.jpg" alt="Продукт 3">
                    </a>

                </div>
            </div>
        </div>
    </section>

    <section id="prices" ng-app="lpApp">
        <div class="container">
            <div class="lp-content" ng-controller="lpPriceCtrl">
                <h2>Цены</h2>

                <p class="lp-prices-loader" ng-hide="prices || requestStatus || requestStatusText">
                    <i class="fas fa-spinner"></i>
                </p>

                <table class="table table-bordered table-striped" ng-show="prices">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th ng-click="sortSet('name')">
                                <span>Наименование</span>
                                <i class="fas fa-sort" ng-show="sortBy != 'name'"></i>
                                <i class="fas fa-sort-up" ng-show="sortBy == 'name' && !sortRev"></i>
                                <i class="fas fa-sort-down" ng-show="sortBy == 'name' && sortRev"></i>
                            </th>
                            <th ng-click="sortSet('price')">
                                <span>Цена</span>
                                <i class="fas fa-sort" ng-show="sortBy != 'price'"></i>
                                <i class="fas fa-sort-up" ng-show="sortBy == 'price' && !sortRev"></i>
                                <i class="fas fa-sort-down" ng-show="sortBy == 'price' && sortRev"></i>
                            </th>
                            <th ng-click="sortSet('discount')">
                                <span>Скидка</span>
                                <i class="fas fa-sort" ng-show="sortBy != 'discount'"></i>
                                <i class="fas fa-sort-up" ng-show="sortBy == 'discount' && !sortRev"></i>
                                <i class="fas fa-sort-down" ng-show="sortBy == 'discount' && sortRev"></i>
                            </th>
                            <th ng-click="sortSet('price2')">
                                <span>Цена со скидкой</span>
                                <i class="fas fa-sort" ng-show="sortBy != 'price2'"></i>
                                <i class="fas fa-sort-up" ng-show="sortBy == 'price2' && !sortRev"></i>
                                <i class="fas fa-sort-down" ng-show="sortBy == 'price2' && sortRev"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="price in prices | orderBy:sortBy:sortRev">
                            <td>{{$index + 1}}</td>
                            <td>
                                <span>{{price.name}}</span>
                                <i ng-show="price.discount" class="fas fa-tag"></i>
                            </td>
                            <td>{{price.price | currency}}</td>
                            <td>
                                <span ng-show="price.discount">{{price.discount * 100 | number:0}}%</span>
                                <span ng-hide="price.discount">-</span>
                            </td>
                            <td>{{price.price2 | currency}}</td>
                        </tr>
                    </tbody>
                </table>

                <p class="alert alert-danger" ng-show="requestStatus || requestStatusText">При загрузке данных произошла ошибка {{requestStatus}} {{requestStatusText}}.</p>

            </div>
        </div>
    </section>

    <section id="contacts">
        <div class="container">
            <div class="lp-content">
                <h2>Контакты</h2>
                <div class="row">
                    <div class="col-sm-6">

                        <div id="lp-map"></div>

                    </div>
                    <div class="col-sm-6">
                        <div id="lp-fb2">
                            <h2>Обратная связь</h2>
                            <p>Заполните контактные данные, и мы свяжемся с вами в кратчайшие сроки:</p>
                            <input type="text" maxlength="50" name="Имя" placeholder="Ваше Имя..." />
                            <input type="tel" maxlength="50" name="Телефон" placeholder="Ваш Телефон..." required />
                            <input type="email" maxlength="50" name="Почта" placeholder="Ваш E-mail..." />
                            <textarea maxlength="500" name="Сообщение" placeholder="Сообщение..."></textarea>
                            <button>Отправить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>© Landing Page 2018</p>
        </div>
    </footer>

    <div class="lp-modals">

        <div id="lp-srv1" class="lp-popup">
            <h2>Описание услуги 1</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum delectus autem nam labore esse eligendi, eos enim obcaecati nihil consectetur. Tempora sint consequatur nobis fugit libero excepturi, unde modi ad?</p>
        </div>

        <div id="lp-srv2" class="lp-popup">
            <h2>Описание услуги 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum delectus autem nam labore esse eligendi, eos enim obcaecati nihil consectetur. Tempora sint consequatur nobis fugit libero excepturi, unde modi ad?</p>
        </div>

        <div id="lp-srv3" class="lp-popup">
            <h2>Описание услуги 3</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum delectus autem nam labore esse eligendi, eos enim obcaecati nihil consectetur. Tempora sint consequatur nobis fugit libero excepturi, unde modi ad?</p>
        </div>

        <div id="lp-srv4" class="lp-popup">
            <h2>Описание услуги 4</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum delectus autem nam labore esse eligendi, eos enim obcaecati nihil consectetur. Tempora sint consequatur nobis fugit libero excepturi, unde modi ad?</p>
        </div>

        <div id="lp-fb1">
            <h2>Заказать консультацию</h2>
            <p>Заполните контактные данные, и мы свяжемся с вами в кратчайшие сроки:</p>
            <input type="text" maxlength="50" name="Имя" placeholder="Ваше Имя..." />
            <input type="tel" maxlength="50" name="Телефон" placeholder="Ваш Телефон..." required />
            <button>Перезвоните мне</button>
        </div>

    </div>

</body>

</html>
